/* ABOUT SECTION */
#about {
    padding-top: 3rem;
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__card h5 {
    font-size: 0.95rem;
    color: var(--color-light);
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

.about__timeline {
    margin-top: 3rem;
}

.about__timeline h3 {
    margin-bottom: 2rem;
    color: var(--color-primary);
    text-align: center;
}

.about__timeline-content p {
    color: var(--color-light);
    line-height: 1.6;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .about__card {
        padding: 1rem;
    }
}