/* WORKING EXPERIENCE SECTION */
#about {
    padding-top: 3rem;
}

.working-experience__timeline {
    margin-top: 1rem;
}

.working-experience__timeline-content p {
    margin-bottom: 0.5rem;
    color: var(--color-light);
    line-height: 1.6;
}

.working-experience__timeline-content strong {
    color: var(--color-primary);
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .working-experience__timeline {
        margin-top: 0.5rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    .working-experience__timeline {
        margin-top: 0.5rem;
    }
    
    .working-experience__timeline-content p {
        font-size: 0.9rem;
    }
}